
@model Queue<string>
@{
    ViewBag.Title = "AllApplications";
}



<div class="task">

    <h1>Все заявки</h1><br /><br />

    @{
    }
    @foreach (var s in Model)
    {
        @s <br />
    }


</div>

